@import 'reveal.js/dist/theme/white.css';

body {
  background: black;
  margin: 0;
  padding: 0;
}

.reveal {
  font-family: 'Gugi', sans-serif;
  text-align: left;
}

.reveal .slides {
  text-align: left;
}

.reveal .controls {
  color: white;
}

.reveal h2 {
  font-family: 'Gugi', sans-serif;
  margin-bottom: 0.6em;
  font-weight: 400;
  color: white;
}

.reveal p {
  color: white;
}

.reveal li {
  font-size: .75em;
  font-weight: 100;
  color: white;
}